---
interface Props {
	title: string;
}
const { title } = Astro.props;
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav class="bg-gradient-to-r from-blue-500 to-green-400 shadow-lg mb-8">
			<div class="container mx-auto px-4 py-3 flex justify-between items-center">
				<a href="/vistaClientes" class="text-white text-2xl font-bold tracking-wide">Tubos Paris </a>
				<ul class="flex gap-8">

					<li><a href="/metricasGenerales" class="text-white hover:text-yellow-200 font-semibold transition">Métricas</a></li>
					<li><a href="/vistaClientes" class="text-white hover:text-yellow-200 font-semibold transition">Clientes</a></li>
					<li><a href="/admin/rangosConfig" class="text-white hover:text-yellow-200 font-semibold transition">Rangos</a></li>
					<li><a href="/admin/variablesConfig" class="text-white hover:text-yellow-200 font-semibold transition">Variables</a></li>
				</li>
				<li><a href="/admin/segmentosConfig" class="text-white hover:text-yellow-200 font-semibold transition">Segmentos</a></li>
				</ul>
			</div>
		</nav>
		<main class="container mx-auto px-4 py-8">
			<slot />
		</main>

	</body>
</html>
